<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-button (click)="goToOfficePage()"> -->
  <!-- <ion-button routerLink="/office"> -->
  <!-- Go to Office Page
  </ion-button>

  <ion-button (click)="showPopOver($event)">
      Show Popover
    </ion-button> -->

  <ion-list>
    <div *ngIf="showList">
      <ion-item *ngFor="let i of list">{{i}}</ion-item>
      <ion-item *ngFor="let j of listObjects">
        Name : {{j.name}}, Age:{{j.age}}
        <ion-label *ngIf="j.name == 'Nagarjun'"> City : {{j.city}}</ion-label>
      </ion-item>

      <!-- <ion-item >Gokul</ion-item>
    <ion-item >Sathish</ion-item>
    <ion-item >Nagarjun</ion-item> -->
    </div>
  </ion-list>

<!-- <ion-label>{{list}}</ion-label> -->

<ion-list>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input [(ngModel)]="title" type="text" ></ion-input>
  </ion-item>
</ion-list>

</ion-content>